file.csv
file.xml
fileTitles.csv
fileWords.csv
merged.csv
reversedIndexing.csv
countedWords.csv
countedWordsFinalOutput.csv
results.csv
occurrences.csv
titlesSize.csv
finalFileToAnalyze.csv
rawMerged.csv
singleWordCounted.csv
